@media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }


    #grid-container{

        display: block;

    }
    .heading {
        text-align: center;



    }
ul{margin:0}
.column > :first-child{

    border-bottom:1px solid blue
}
}
@media only screen and (min-width: 600px) {
body{
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}
*{box-sizing: inherit;}

.heading {
    text-align: center;
    height:10vh;

}

#grid-container{
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 0% 10%;
    height: 90vh;

}




#morning,#day{

    border-right:1px solid blue ;

}

}